<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe Game</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <main>
        <header id="header">
            <div class="player" id="xPlayer">X</div>
            <h3 id="titleHeader">Choose</h3>
            <div class="player" id="oPlayer">O</div>
        </header>

        <div id="board7x7"></div>

        <button id="restartBtn">Restart</button>
    </main>

    <audio id="winSound" src="../static/sounds/win.mp3"></audio>
    <audio id="tieSound" src="../static/sounds/tie.mp3"></audio>
    <audio id="loseSound" src="../static/sounds/lose.mp3"></audio>
    <audio id="clickSound" src="../static/sounds/click.mp3"></audio>


</body>
<script src="../static/js/computer7x7.js"></script>
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>

</html>