<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Tic Tac Toe Game</title>
</head>

<body>
    <main class="menu">
        <h1>Tic Tac Toe</h1>
        <h3>Select Game Mode</h3>

        <div class="mode-buttons">
            <button name="game_mode" value="vsComputer" class="mode-btn">
                <a href="#">👾 Player vs Computer</a>
            </button>
            <button name="game_mode" value="vsPlayer" class="mode-btn">
                <a href="#">👥 Player vs Player</a>
            </button>
        </div>
    </main>
</body>

</html>
